{% extends "template.html" %}
{% block head %}
<link href="https://fonts.googleapis.com/css?family=Fira+Code" rel="stylesheet" />
<link href="../static/css/pygments.css" rel="stylesheet" />
<link href="../static/css/discover.css" rel="stylesheet" />
{% if search %}
<script defer type="module" src="../static/js/search.js"></script>
{% else %}
<script type="module">import {main_func} from "../static/js/discover.js"; main_func()</script>
{% endif %}
{% endblock %}
{% block title %}Discover -{% endblock %}
{% block body %}
{% if search %}
<h3 id="searchup" data-query="{{ search }}" class="ms-5 m-3">Seaching for... {{ search }}</h3>
{% endif %}
<div id="main" class="d-flex flex-wrap container-md justify-content-evenly mt-3 gap-3"></div>
<div class="text-center my-5">
  <div id="spinner" class="spinner-grow" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <h5 id="warn">We are sorry if its taking a while, please don't refresh the page.</h5>
</div>
<!--   <button id="next" type="button" class="container mx-auto text-center btn btn-primary">Next</button> -->
{% endblock %}
