{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/pygments.css">
<script defer type="module" src="../static/js/index.js"></script>
{% endblock %}
{% block body %}
<h1 class="text-center" id="title">Yällo!</h1>
<h1 class="mx-5 text-center fw-normal">
  look up code solutions by <b>other</b> developers
</h1>
<br>
<div class="container">
  <form class="mb-3 row justify-content-evenly px-5 ms-md-5" role="search" action="/search" method="GET">
    <div class="d-inline col">
      <input class="form-control" name="q" type="search" placeholder="Look up a programming problem"
        aria-label="Search">
    </div>
    <div class="d-inline col-2">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
</div>
<h6 class="mx-5 text-center fw-normal">See how other programmers have solved these problems</h6>
<br>
<br>
<div class="container-sm mx-auto mb-5">
  <div class="row">
    <div class="col">
      <h4 class="text-center">Most liked</h4>
      <div id="highest_rated">
        <div class="text-center">
          <div id="spinner" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h4 class="text-center">Recently uploaded</h4>
      <div id="recently_uploaded">
        <div class="text-center">
          <div id="spinner" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
