{% extends "template.html" %}
{% block title %}Login -{% endblock %}
{% block body %}
<h1 class="mt-3 text-center">Login</h1>
<link rel="stylesheet" href="../static/css/login-input.css" />
{% if warning %}<div class="w-50 mx-auto mt-5 alert alert-danger" role="alert">{{ warning }}</div>{% endif %}
<form class="w-75 mx-auto mt-3" action="/login" method="POST">
  <div class="mx-auto mb-3 login-input">
    <label class="form-label">Username</label>
    <input required class="form-control" type="text" autofocus autocomplete="off" name="username" placeholder="Username"
      aria-label="Username" />
    <!-- <div class="form-text">Usernames are always lowercase</div> -->
  </div>
  <div class="mx-auto mb-3 login-input required">
    <label for="inputPassword5" class="form-label">Password</label>
    <input required class="form-control" type="password" autocomplete="current-password" name="password"
      placeholder="Password" aria-label="Password" />
  </div>
  <button class="btn btn-primary position-relative start-50 translate-middle-x" type="submit">Log in</button>
</form>
{% endblock %}
