{% extends "template.html" %}
{% block head %}
<link href="../static/post.css" rel="stylesheet" />
<script defer src="https://cdn.jsdelivr.net/npm/ace-builds@1.32.2/src-min-noconflict/ace.min.js"></script>
<script defer type="module" src="../static/post.js"></script>
{% endblock %}
{% block title %}Create -{% endblock %}
{% block body %}
<h1 class="mt-3 text-center">Create</h1>
{% if warning %}<div class="w-50 mx-auto mt-5 alert alert-danger" role="alert">{{ warning }}</div>{% endif %}
<form id="form" action="/create/post" method="post">
</form>
<div class="card container-md p-3 mb-3">
	<h3>Title</h3>
	<input required minlength="3" maxlength="50" class="form-control" type="text" name="title" form="form"
		placeholder="A concise title of the program" id="titleform">
</div>
<div class="card container-md p-3 mb-3">
	<h3>Description</h3>
	<p>
		Write something that could be used in conjunction with code comments to guide peoople to understanding your solution
		or about your program
	</p>
	<div class="form-floating">
		<textarea required minlength="3" maxlength="500" form="form" name="description" class="form-control"
			placeholder="Add a description" id="floatingDescription"></textarea>
		<label for="floatingDescription">Description</label>
		<sub>Note: You can use markdown formatting</sub>
	</div>
</div>
<div class="card container-md p-3 mb-3">
	<h3>Code</h3>
	<div class="container text-center">
		<div class="row">
			<div class="col-5">
				<select required id="language" form="form" name="language" class="form-select form-select-lg w-3 mb-3"
					aria-label="Small select example">
					<option disabled selected value="">Language</option>
					{% for key, value in languages.items() %}<option value="{{ key }}">{{ value.name }}</option>{% endfor %}
				</select>
			</div>
			<div class="col-3">
				<input id="editorMax" type="number" min="4" class="form-control form-control-lg w-1 mb-3 me-auto"
					placeholder="Height editor">
			</div>
			<div class="col-2">
				<select id="tabSize" class="form-select form-select-lg w-3 mb-3 me-auto">
					<option disabled selected>Tab Size</option>
					<option value=2>2</option>
					<option value=4>4</option>
					<option value=8>8</option>
				</select>
			</div>
			<!-- <div class="col-2"> -->
			<!-- 	<select id="wrapMode" class="form-select form-select-lg w-3 mb-3 me-auto"> -->
			<!-- 		<option disabled selected>Wrap Mode</option> -->
			<!-- 		<option value=false>No Wrap</option> -->
			<!-- 		<option value=true>Yes Wrap</option> -->
			<!-- 	</select> -->
			<!-- </div> -->
		</div>
	</div>
	<div class="input-group mb-3"></div>
	<div class="card fs-5">
		<div id="ace-editor" class="fs-5"></div>
	</div>
</div>
<div class="container-fluid justify-content-center d-flex">
	<button id="submit_button" name="code" form="form" class="text-center btn btn-primary" type="submit">Submit</button>
</div>
{% endblock %}
