<!doctype html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta content="Yällo!" property="og:title" />
  <meta content="Yällo is a code solution sharing and requesting site with a clean and intuitive look"
    property="og:description" />
  <meta content="https://gravitationally.online" property="og:url" />
  <meta content="https://gravitationally.online/favicon.ico" property="og:image" />
  <meta content="#6610f2 " data-react-helmet="true" name="theme-color" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="../static/css/bootstrap.css" />
  <script defer src="../static/npm/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>
    {% block title %} {% endblock %} Yällo! The friendly code snippet sharing
    site
  </title>
  <link rel="shortcut icon" href="../static/img/favicon.ico" />
  <link href="../static/css/styles.css" rel="stylesheet" />
  {% block head %} {% endblock %}
</head>

<body data-bs-theme="dark">
  <nav class="navbar navbar-expand-md px-5 bg-body-tertiary">
    <a class="navbar-brand me-0 me-md-3 fs-4" href="/">Yällo!</a>
    <form class="nav-item" id="search" role="search" action="/search" method="GET">
      <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search" />
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="rounded mt-2 mt-md-0 ms-2 px-2 collapse navbar-collapse bg-body-secondary" id="navbarSupportedContent">
      <ul class="navbar-nav pb-1 mb-lg-0 fs-5">
        <li class="nav-item">
          <a class="nav-link" href="/discover">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/requests">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create">Create</a>
        </li>
      </ul>

      <div class="navbar-nav d-flex container-fluid justify-content-md-end pb-1 mb-lg-0 p-0 fs-5">
        {% if is_active == True %}
        <a class="nav-link" href="/account">Account</a>
        <a class="nav-link" href="/login">Log out</a>
        {% else %}
        <a class="nav-link me-2" href="/register">Register</a>
        <a class="nav-link" href="/login">Log in</a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block body %} {% endblock %}
</body>

</html>
