<!doctype html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <title>
    {% block title %} {% endblock %} Yello! The friendly code snippet sharing
    site
  </title>
  <!-- Quicksand font -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
  <link href="../static/styles.css" rel="stylesheet" />
</head>

<body data-bs-theme="dark">
  <nav class="navbar navbar-expand-md px-5 bg-body-tertiary">
    <a class="navbar-brand me-0 me-md-3 fs-4" href="/">Yello!</a>
    <form class="nav-item" id="search" role="search" action="/search" method="GET">
      <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search" />
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="rounded mt-2 mt-md-0 ms-2 px-2 collapse navbar-collapse bg-body-secondary" id="navbarSupportedContent">
      <ul class="navbar-nav pb-1 mb-lg-0 fs-5">
        <li class="nav-item">
          <a class="nav-link" href="/discover">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/requests">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create">Create</a>
        </li>
      </ul>

      <div class="navbar-nav d-flex container-fluid justify-content-md-end pb-1 mb-lg-0 p-0 fs-5">
        {% if is_active == True %}
        <a class="nav-link" href="/account">Account</a>
        <a class="nav-link" href="/login">Log out</a>
        {% else %}
        <a class="nav-link me-2" href="/register">Register</a>
        <a class="nav-link" href="/login">Log in</a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block body %} {% endblock %}
</body>

</html>
